[access "refs/heads/*"]
	push = group vCHS Members
	push = group vCHS Service Infra
	pushMerge = group vCHS Members
	pushMerge = group vCHS Service Infra
	label-Code-Review = -2..+2 group vCHS Members
	label-Code-Review = -2..+2 group vCHS Service Infra
	label-Verified = -1..+1 group vCHS Members
	label-Verified = -1..+1 group vCHS Service Infra
	submit = group vCHS Members
	submit = group vCHS Service Infra
[receive]
	requireChangeId = true
[access "refs/for/refs/heads/*"]
	push = group vCHS Members
	push = group vCHS Service Infra
